<header>
  <div id="navbar" class="navbar">

    <!-- Navbar contains two menu bars, primary and secondary -->
    <div class="navbar-menu-bars">

      <!-- Primary menu bar contains Melinda logo and primary navigation links -->
      <div class="primary-menu-bar"
        style="display: flex;  flex-direction: row;  background-color: var(--color-primary-white);  padding: 12px;  height: 66px;">

        <div class="logo-area">
          <a href="/">
            <img style="max-height: 50px;"
              src="https://static.kansalliskirjasto.fi/melinda/images/logo-melinda-text-horizontal-color-cropped.png">
          </a>
        </div>
      </div>
    </div>
  </div>
  <hl></hl>
</header>